; this comment is being ignored
port=8080

; files or dirs need to excludes scan, always ignore the static javascript assets 
; 具体配置请查看https://rockerjs.weidian.com/compass/overview.html#%E8%AE%BE%E7%BD%AE%E5%BA%94%E7%94%A8
excludesDir[]=assets

[application]
name=test
other[]=123
other[]=456

[filter:trace]

[midLogger]
starter=@rockerjs/midlog-starter
env=dev

[mysql]
starter=@rockerjs/mysql-starter
host=db
user=root
port=3306
database=perf
password=123123
resourcePath=repository/resource

[rpc]
starter=@rockerjs/rpc-starter
; http config
interfaces[]=/interfaces/httpInterface

; dubbo config
applicationName=testServices
dubboVersion=3.0.4
env=daily
;dependencies[]=/interface/dubboInterface ;every file must export only one default class
