; this comment is being ignored

[application]
name=test
other[]=123
other[]=456

;[filter:wdr]
;args[]=(uploadProfile)|(\/build\/\d+\/)\S+
;args[]=wdr

[filter:trace]

[midLogger]
starter=@rockerjs/midlog-starter
env=dev

[mysql]
starter=@rockerjs/mysql-starter
host=127.0.0.1;vdds-proxy.daily.idcvdian.com
user=root;NODE_PERF_APP_user
port=3306
database=test
password=123123
resourcePath=repository/resource

;[redis]
;starter=@rockerjs/redis-starter
;env=daily
;name=vstudio

;[rocketmq]
;starter=@rockerjs/rocketmq-starter
;nameServerAddress=rocketmq.namesrv01.daily.idcvdian.com:9876\;rocketmq.namesrv02.daily.idcvdian.com:9876
;producerGroup=rocker_maker

;isBroadcast=false
;consumerGroup=rocker_group2
;consumeFromWhere=CONSUME_FROM_FIRST_OFFSET;CONSUME_FROM_LAST_OFFSET;CONSUME_FROM_TIMESTAMP;;
;consumeTimestamp=20180907181232

[rpc]
; http config
interfaces[]=/interfaces/httpInterface

; dubbo config
applicationName=testServices
dubboVersion=3.0.4
env=daily
;dependencies[]=/interface/dubboInterface ;every file must export only one default class
destDevIp=172.19.38.35 ;开发阶段，测试接口时优先连接172.19.38.35服务
